{
    "useTabs": false,
    "trailingComma": "all",
    "jsxBracketSameLine": false,
    "jsxSingleQuote": true,
    "printWidth": 80,
    "singleQuote": true,
    "endOfLine": "auto",
    "semi": false
}